
body{
    background-color: #1A1A1A;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Roboto' , sans-serif;
    
    
}

h2 {
    color: #fafafa; /*/Standard for all h2/*/

}

h1 {
    color: #fafafa; /*/Standard for all h2/*/

}


/*/////////////////////////*/
/*////////// HEADER /////////*/
/*/////////////////////////*/

header {
    background-color: #1a1a1a;
    height: 120px;
    border-bottom: solid 1px #fafafa;

}

.header-logo {
    
    height: 80px;
    margin: 30px 25px 25px 20px;
    
}

header > .icons {
  font-size: 30px;
  margin: -60px 10px 0 0;
  display: flex;
  justify-content: flex-end;
  
}


.icons i {
    margin: 0 10px; /* Space between the icons */
}

/*/////////////////////////*/
/*/////// Nav header /////*/
/*/////////////////////////*/


nav {
    display: none;
    position: absolute;
    top: 121px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #1A1A1A99;
}

#hamburger-menu {
    display: none;
    
}

#hamburger-menu:checked ~ nav {
    display: block;
    
}


.nav-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0 0 0px; 

    
}


.nav-cont a {
    font-size: 28px;
    border-radius: 5px;
    margin: 10px 0;
    padding-top: 5px;
    width: 300px;
    height: 40px;
    border: none;
    background-color: #ff9000; 
    color: #fafafa;
    cursor: pointer;
    text-decoration: none; /* Get rid of underline */

}


/*/////////////////////////*/
/*////////// FOOTER ///////*/
/*/////////////////////////*/

footer {
    height: 150px;
    color: #fafafa;
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    border-top: solid 1px #fafafa; /*line between main and footer */
    


}

.all-footers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-container ul {
    list-style: none;
    margin-right:  15px;
    padding-left: 15px


}
.foot-container ul a {
    color: #fafafa;
    text-decoration: none;
    
}


.foot-container {
    margin-top: 5px;
    margin: 0 20px;
}

footer h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px; 
}

footer p {
    margin-left: 20px;
}

/*/////////////////////////*/
/*/////// MAIN INDEX /////*/
/*/////////////////////////*/

.bar { /*/Center alignment/*/
    display: flex;
    justify-content: center;
    margin-top: 30px;

    
}

#search-bar {
    color: #fafafa; /*Color change when typing*/
}

#search-bar::placeholder { /*/Change color on the text/*/
    color: #fafafa;
    
}

#search-bar:focus { /*/To get rid of blue outlines/*/
    outline: none;
}

.bar input {
    background-color: #ff900099;
    border-radius: 10px;
    border-style: none;
    font-size: 14px;
    text-align: left;
    width: 145px;
    height: 25px;
    padding-left: 30px;
}

.fa-magnifying-glass { /*//To get the icon inside the searchbar/*/
    position: absolute;
    color: #fafafa;
    margin: 6px;
}




 .add-container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.add {
    display: flex;/*For text and picture to align*/
    align-items: center;/*For text and picture to align*/
    justify-content: center; /*For text and picture to align*/
    flex-direction: column;
    text-align: center;
    width: 393px;
    height: 262px;
    background: url(../Pictures/Squareeyes\ ad\ pic.png); 
    background-size: cover;
    background-repeat: no-repeat;
       
    
}



.films-button a {
    color: #fafafa;
    background-color: #ff9000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    border-style: none;
    cursor: pointer; 
    text-decoration: none;

}

.add h1 {
    font-weight: 800;
    color: #fafafa;
    font-size: 20px;
    max-width: 200px;
       
}

.orange-color {
    color: #ff9000; /*/to get two colors on text/*/
}

.home-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.home-movies h2 {
    font-size: 28px;
    font-weight: 800;
}
.movie-posters {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 318px;
    gap: 20px;
    
    
}
.movie-posters img {
    width: 144px;
    height: 215px;
}




/*/////////////////////////*/
/*//// ALL MOVIES PAGE ///*/
/*/////////////////////////*/

.main-all-movies {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.bar2 { /*/Center alignment/*/
    display: flex;
    justify-content: center;
    margin-top: 30px;

    
}

#search-bar2 {
    color: #fafafa; /*Color change when typing*/
}

#search-bar2::placeholder { /*/Change color on the text/*/
    color: #fafafa;
    
}

#search-bar2:focus { /*/To get rid of blue outlines/*/
    outline: none;
}

.bar2 input {
    background-color: #ff900099;
    border-radius: 10px;
    border-style: none;
    font-size: 14px;
    text-align: left;
    width: 145px;
    height: 25px;
    padding-left: 30px;
}

.fa-magnifying-glass { /*//To get the icon inside the searchbar/*/
    position: absolute;
    color: #fafafa;
    margin: 6px;
}

.select-genre {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    

}

.select-genreh2 {
    font-size: 15px;
}

.dropdown label {
    background-color: #ff9000;
    color: #fafafa;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 20px;
    padding-right: 20px;
    padding: 0 10px;
}

.dropdown a {
    display: block;
    color: #fafafa;
    text-decoration: none;
    

}

.dropdown-content {
    position: absolute;
    background-color: #1a1a1a; 
    min-width: 70px;
    display: none;

}
#dropdown-checkbox {
    display: none;
    
    
}

#dropdown-checkbox:checked ~ .dropdown-content {
    display: block;
    
}

.all-movies { /*/To center and align all movies on the site/*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    
    
}


/*////////////////////////////*/
/*/////Product detail page////*/
/*////////////////////////////*/

.main-productdetail {
    display: flex; 
    flex-direction: column;
    align-items: center;

}

.batman-product { /*/Aligns h1, image and cta/*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.batman-product h1 {
    font-size: 20px;
}

.batman-background {
    height: 453px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 121px;
    z-index: -1;
}

.batman-background img {
    width: 100%;
    opacity: 0.2;

}

.batman-cover img {
    width: 188.98px ;
    height: 280.45px;
    padding: 0 0 20px 0 ;
    
}

.cart-button a {
    color: #fafafa;
    background-color: #ff9000;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    cursor: pointer; 
    text-decoration: none;
    
}



.desctription-box { 
    background-color: #282828;
    width: 100%;
    max-width: 812px;
    height: 130px;
    margin-top: 80px;
    border-radius: 10px;
    padding-bottom: 10px;

}

.desctription-box p { /*/Size and padding of text in textbox/*/
    font-size: 12px; 
    padding: 10px;

}

.batman-trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.batman-trailer h2 {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 600;
}

iframe {
    margin-bottom: 100px;
}



/*////////////////////////////*/
/*///// CHECKOUT PAGE ////////*/
/*////////////////////////////*/

.checkout-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-box-co {
    background-color: #282828;
    width: 338px;
    height: 860px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.overlay-box-co h1 {
    font-size: 24px;
    font-weight: 600;
}

.overlay-box-co p {
    font-size: 12px;
    font-weight: 200;
    
}


.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


#name, #card, #mmyy, #cvv, #fullname, #address, #zipcode, #city, #phone, #redeem,::placeholder {
    text-align: center;
    
}

#name, #card, #mmyy, #cvv, #fullname, #address, #zipcode, #city, #phone, #redeem input {
    text-align: left;
    
}


#fullname {
    margin-top: -10px ;
}

#mmyy { 
    margin-right: 10px;
}

#zipcode {
    margin-right: 10px; 
}


#name, #card, #fullname, #address, #phone {
    width: 299px;
    height: 33px;
    border-style: none;
    outline-style: none;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: #fafafa;
}

#mmyy, #cvv, #zipcode, #city, #redeem {
    width: 140px;
    height: 33px;
    border-style: none;
    outline-style: none;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: #fafafa;
    
}

.total-box {
    background-color: #1A1A1A;
    width: 299px;
    height: 155px;
    border-radius: 10px;
    
    
}

.upper-info {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.upper-info img {
    width: 32px;
    height: 48px;
    padding: 10px;
}

.upper-info p {
    font-size: 14px;
    margin: 20px -55px 40px;
    font-weight: 600;
    color: #d7d7d7;
}

.lower-info {
    border-top: solid 1px white; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.lower-info p {
    font-size: 14px;
    font-weight: 600;
}


.purchase-button { /*Gets space between the redeem and purchase/*/
    margin-top: 40px;
}

.purchase-button a {
    color: #fafafa;
    background-color: #ff9000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    border-style: none;
    cursor: pointer; 
    text-decoration: none; 
}


/*////////////////////////////*/
/*// CHECKOUT SUCSESS PAGE ///*/
/*////////////////////////////*/

.sucsess-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-box-cos { /*/Overlay box for checkout sucsess/*/
    background-color: #282828;
    width: 338px;
    height: 811px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;    
}

.conf-text p {
    font-size: 14px;
    padding: 15px 15px 15px 15px;
    margin: 6px;
    
}
.overlay-box-cos i { /*/Check icon color and sizing/*/ 
    color: #33ff00;
    font-size: 70px;
    
}

.overlay-box-cos h1 {
    font-size: 24px;
    
}

.total-box2 {
    background-color: #1A1A1A;
    width: 299px;
    height: 155px;
    border-radius: 10px;
    
    
}

.upper-info2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.upper-info2 img {
    width: 32px;
    height: 48px;
    padding: 10px;
}

.upper-info2 p {
    font-size: 14px;
    margin: 20px -55px 40px;
    font-weight: 600;
    color: #d7d7d7;
}

.lower-info2 {
    border-top: solid 1px white; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.lower-info2 p {
    font-size: 14px;
    font-weight: 600;
}


/*////////////////////////*/
/*/////ABOUT US PAGE/////*/ 
/*////////////////////////*/

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    

}
.main-about img {
    width: 354px;
    height: 236px;
}

.main-about h1 {
    font-size: 24px;
    
}

main p {
    color:#fafafa;
    font-size: 24px;
    font-weight: 200;
    display: flex;
    text-align: left;
    padding: 10px 65px 10px 65px;
    
    
}

/*/////////////////////////*/
/*/////CONTACT US PAGE/////*/ 
/*/////////////////////////*/

.body-contact-us {
    background-image: url(/Pictures/photo\ family.jpg);
    
}

.main-contact {
    background-color:rgb(26, 26, 26, 0.9);
    
}

.contact-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
 
.main-contact h1 {
    color: white;
    font-size: 24px;
}

.main-contact i {
    color: #fafafa; /*/Icon color/*/
    font-size: 54px;

}
.main-contact p {
    font-size: 24px;
    font-weight: 200;
} 




/*/////////////////////////*/
/*///// MEDIA QUARIES /////*/
/*/////////////////////////*/

@media screen and (min-width: 576px) {
   body {
    
    }
    
/*/////////////////////////*/
/*//////// HEADER /////////*/
/*/////////////////////////*/

header {
    height: 140px;

}

.header-logo {
    
    height: 100px;
    margin: 30px 25px 25px 20px;
    
}


/*/////////////////////////*/
/*/////// Nav header /////*/
/*/////////////////////////*/


nav {
    top: 141px;

}

/*/////////////////////////*/
/*////////// FOOTER ///////*/
/*/////////////////////////*/

footer {
    height: 170px;
    height: 100%;
    font-size: 24px;
    font-weight: 400;

}



footer h2 {
    font-size: 24px;
    font-weight: 600;
}


/*/////////////////////////*/
/*/////// MAIN INDEX /////*/
/*/////////////////////////*/



.bar input {
    font-size: 16px;
    width: 300px;
    height: 30px;
    
}

.fa-magnifying-glass { /*//To get the icon inside the searchbar/*/
    margin: 8px;
}
.add {
    width: 572px;
    height: 380px; 
}

.films-button a {
    font-size: 20px;
    

}

.add h1 {
    font-size: 30px;
    max-width: 300px;
       
}

.movie-posters {
    justify-content: center;
    gap: 20px;
    
    
}
.movie-posters img {
    width: 218px;
    height: 324px;
}

.home-movies h2 {
    font-size: 38px;
    font-weight: 800;
}

/*/////////////////////////*/
/*//// ALL MOVIES PAGE ///*/
/*/////////////////////////*/




.bar2 input {
    font-size: 16px;
    width: 300px;
    height: 30px;
    
}

.fa-magnifying-glass { /*//To get the icon inside the searchbar/*/
    margin: 8px;
}

.select-genreh2 {
    font-size: 18px;
}

.dropdown label {
    padding: 2px 20px 2px 20px;
}

/*////////////////////////////*/
/*/////Product detail page////*/
/*////////////////////////////*/

.batman-product h1 {
    font-size: 24px;
}

.batman-background {
    height: 515px;
    top: 141px;
}


.batman-cover img {
    width: 218px;
    height: 324px;
    
}

.cart-button a {
    font-size: 20px;
    
    
}

.desctription-box { 
    padding-bottom: 20px;

}

.desctription-box p { /*/Size and padding of text in textbox/*/
    font-size: 14px; 
    
    

}


.batman-trailer h2 {
    font-size: 24px;
}

iframe {
    width: 560px;
    height: 308px;
}



/*////////////////////////////*/
/*///// CHECKOUT PAGE ////////*/
/*////////////////////////////*/

#name, #card, #mmyy, #cvv, #fullname, #address, #zipcode, #city, #phone, #redeem,::placeholder {
    font-size: 14px;
    
}

.overlay-box-co {
    width: 400px;
    height: 900px;
    
    
}

.overlay-box-co p {
    font-size: 14px;
    
}

.overlay-box-co h1 {
    font-size: 24px;
    font-weight: 600;
}



#name, #card, #fullname, #address, #phone {
    width: 361px;
    height: 36px;
   
}

#mmyy, #cvv, #zipcode, #city, #redeem {
    width: 171px;
    height: 36px;
    
    
}

.total-box {
    width: 361px;
    height: 158px;  
}


.upper-info img {
    width: 36px;
    height: 52px;
    
}

.upper-info p {
    font-size: 16px;
    margin: 20px -50px 40px;
}


.lower-info p {
    font-size: 16px;
}

.purchase-button a {
    font-size: 20px;
    
}

}

@media screen and (min-width: 768px) {
    body {
        background-color: blue ;
    }

}